<div [appClick]="'20px'">
    <p fxFlex="30%">cartService</p>
    <p fxFlex="70%">{{ cartService | json}}</p>
</div>
<div [appClick]="'20px'">
    <p fxFlex="30%">configOptionsService</p>
    <p fxFlex="70%">{{ configOptionsService | json}}</p>
</div>
<div [appClick]="'20px'">
    <p fxFlex="30%">generatorService</p>
    <p fxFlex="70%">{{ generatorService | json}}</p>
</div>
<div [appClick]="'20px'">
    <p fxFlex="30%">localStorageService</p>
    <p fxFlex="70%">{{ localStorageService | json}}</p>
</div>
<div [appClick]="'20px'">
    <p fxFlex="30%">configToken</p>
    <p fxFlex="70%">{{ configValue | json}}</p>
</div>
<div [appClick]="'20px'">
    <p fxFlex="30%">generatedString</p>
    <p fxFlex="70%">{{ generatedValue }}</p>
</div>