<div fxLayout="column">
    <mat-toolbar>
        <mat-toolbar-row fxFlex="100%">
            <span fxFlex></span>
            <span fxLayoutAlign="center center">Витрина</span>
            <span fxFlex></span>
            <a fxLayoutAlign="end center" mat-icon-button color="accent" routerLink="/cart">
                <mat-icon>shopping_cart</mat-icon>
                <span>{{ getTotalQuantity() }}</span>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxLayout="column" fxFlex="100%" fxLayoutGap="10px">
        <app-product *ngFor="let product of products | async" [product]="product" (addedToCart)="onAddToCart($event)">
        </app-product>
    </div>
</div>