<div fxLayout="column" *ngIf="(cartItems$ | async) as products">
    <div fxLayout="column" fxFlex="100%" fxLayoutGap="10px" *ngIf="products.length > 0; else empty">
        <div fxFlex="100%" fxLayoutGap="10px">
            <mat-form-field fxFlex="70%" color="accent">
                <mat-label>Сортировка</mat-label>
                <mat-select multiple [(ngModel)]="selected">
                    <mat-option *ngFor="let key of keys" [value]="key.key">{{ key.label }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox fxFlex="30%" fxLayoutAlign="start center" [(ngModel)]="isAsc">По возростанию</mat-checkbox>
        </div>
        <app-cart-item *ngFor="let product of products | orderBy:selected:isAsc" [item]="product">
        </app-cart-item>
    </div>
    <ng-template #empty>
        Корзина пуста
    </ng-template>
</div>